DotNetSale.Wcf.WindowsForms/Connected Services/CategoryBaseServiceReference/CategoryBaseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DotNetSale.Wcf.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DotNetSale.Wcf.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CategoryBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryBase" nillable="true" type="tns:CategoryBase" />
  <xs:complexType name="ArrayOfCategoryBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryBase" nillable="true" type="tns:CategoryBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryBase" nillable="true" type="tns:ArrayOfCategoryBase" />
  <xs:simpleType name="OrderOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderOption" nillable="true" type="tns:OrderOption" />
</xs:schema>