DotNetSale.Wcf.WindowsForms/Connected Services/CategoryBaseServiceReference/CategoryBaseService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49890/Categories/CategoryBaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DotNetSale.Wcf.Models" />
  <xs:element name="Browse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrowseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DotNetSale.Wcf.Models" minOccurs="0" name="BrowseResult" nillable="true" type="q1:CategoryBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Read">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DotNetSale.Wcf.Models" minOccurs="0" name="ReadResult" nillable="true" type="q2:ArrayOfCategoryBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DotNetSale.Wcf.Models" minOccurs="0" name="model" nillable="true" type="q3:CategoryBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DotNetSale.Wcf.Models" minOccurs="0" name="model" nillable="true" type="q4:CategoryBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DotNetSale.Wcf.Models" minOccurs="0" name="AddResult" nillable="true" type="q5:CategoryBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DotNetSale.Wcf.Models" minOccurs="0" name="SearchResult" nillable="true" type="q6:ArrayOfCategoryBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Has">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ordering">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DotNetSale.Wcf.Models" minOccurs="0" name="orderOption" type="q7:OrderOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DotNetSale.Wcf.Models" minOccurs="0" name="OrderingResult" nillable="true" type="q8:ArrayOfCategoryBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Paging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DotNetSale.Wcf.Models" minOccurs="0" name="PagingResult" nillable="true" type="q9:ArrayOfCategoryBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>