DotNetSale.Wcf.WindowsForms/Connected Services/CategoryBaseServiceReference/CategoryBaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CategoryBaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49890/Categories/CategoryBaseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49890/Categories/CategoryBaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49890/Categories/CategoryBaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DotNetSale.Wcf.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBreadShopOf_CategoryBase_Browse_InputMessage">
    <wsdl:part name="parameters" element="tns:Browse" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Browse_OutputMessage">
    <wsdl:part name="parameters" element="tns:BrowseResponse" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Has_InputMessage">
    <wsdl:part name="parameters" element="tns:Has" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Has_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasResponse" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Ordering_InputMessage">
    <wsdl:part name="parameters" element="tns:Ordering" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Ordering_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderingResponse" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Paging_InputMessage">
    <wsdl:part name="parameters" element="tns:Paging" />
  </wsdl:message>
  <wsdl:message name="IBreadShopOf_CategoryBase_Paging_OutputMessage">
    <wsdl:part name="parameters" element="tns:PagingResponse" />
  </wsdl:message>
  <wsdl:portType name="IBreadShopOf_CategoryBase">
    <wsdl:operation name="Browse">
      <wsdl:input wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/Browse" message="tns:IBreadShopOf_CategoryBase_Browse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/BrowseResponse" message="tns:IBreadShopOf_CategoryBase_Browse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/Read" message="tns:IBreadShopOf_CategoryBase_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/ReadResponse" message="tns:IBreadShopOf_CategoryBase_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/Edit" message="tns:IBreadShopOf_CategoryBase_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/EditResponse" message="tns:IBreadShopOf_CategoryBase_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/Add" message="tns:IBreadShopOf_CategoryBase_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/AddResponse" message="tns:IBreadShopOf_CategoryBase_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/Delete" message="tns:IBreadShopOf_CategoryBase_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/DeleteResponse" message="tns:IBreadShopOf_CategoryBase_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/Search" message="tns:IBreadShopOf_CategoryBase_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/SearchResponse" message="tns:IBreadShopOf_CategoryBase_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Has">
      <wsdl:input wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/Has" message="tns:IBreadShopOf_CategoryBase_Has_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/HasResponse" message="tns:IBreadShopOf_CategoryBase_Has_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ordering">
      <wsdl:input wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/Ordering" message="tns:IBreadShopOf_CategoryBase_Ordering_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/OrderingResponse" message="tns:IBreadShopOf_CategoryBase_Ordering_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Paging">
      <wsdl:input wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/Paging" message="tns:IBreadShopOf_CategoryBase_Paging_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBreadShopOf_CategoryBase/PagingResponse" message="tns:IBreadShopOf_CategoryBase_Paging_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBreadShopOf_CategoryBase" type="tns:IBreadShopOf_CategoryBase">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Browse">
      <soap:operation soapAction="http://tempuri.org/IBreadShopOf_CategoryBase/Browse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/IBreadShopOf_CategoryBase/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IBreadShopOf_CategoryBase/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IBreadShopOf_CategoryBase/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IBreadShopOf_CategoryBase/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IBreadShopOf_CategoryBase/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Has">
      <soap:operation soapAction="http://tempuri.org/IBreadShopOf_CategoryBase/Has" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ordering">
      <soap:operation soapAction="http://tempuri.org/IBreadShopOf_CategoryBase/Ordering" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Paging">
      <soap:operation soapAction="http://tempuri.org/IBreadShopOf_CategoryBase/Paging" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryBaseService">
    <wsdl:port name="BasicHttpBinding_IBreadShopOf_CategoryBase" binding="tns:BasicHttpBinding_IBreadShopOf_CategoryBase">
      <soap:address location="http://localhost:49890/Categories/CategoryBaseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>